<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Endjin.SpecFlow"/>
    </stepAssemblies>
    <unitTestProvider name="NUnit"/>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EndjinCoreComposition" publicKeyToken="50271567b54a4602" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.42" newVersion="2.2.0.42"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EndjinCoreContainer" publicKeyToken="50271567b54a4602" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.42" newVersion="2.2.0.42"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EndjinCoreCompositionNet45" publicKeyToken="50271567b54a4602" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.42" newVersion="2.2.0.42"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>