<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Endjin.Core.Composition" version="2.2.0.45" targetFramework="net45" />
  <package id="Endjin.SpecFlow" version="1.0.0.36" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
</packages>